@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap');


.home_container {
    width: 100%;
    height: 78vh;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Slab', serif;
    padding: 1rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}
.title span{
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(177, 177, 177);
}

.grid{
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.item{
    width: 350px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: white;
    padding: .5em 0;
    transition: .3s;
}

.border{
    transition: .2s;
}

.item span{
    font-size: 1.2rem;
}


.grid img{
    width: 300px;
    height: 300px;
}

.item:hover{
    box-shadow: #63636333 0px 2px 8px 0px;
    background: #f7bce15f;
    transform: scale(1.03);
}
