@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap');


:root {
    --color1: #84c1b1;
    --color2: #ad849a;
    --color3: #d64783;
    --color4: #fd135a;
    --color5: #40202a;
  }

.home_container {
    width: 100%;
    height: 78vh;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Slab', serif;
    padding: 1rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}
.title span{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color1);
}

.grid{
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.item{
    width: 350px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: white;
    padding: .5em 0;
}

.item span{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color1);
    font-weight: bold;
}

.zoom_container{
    width: 350px;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.zoom_container img{
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    transition: .5s;
}

.zoom_container img:hover{
    transform: scale(1.07);
    filter: brightness(100%);
}
