@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap');

:root {
  --color1: #84c1b1;
  --color2: #ad849a;
  --color3: #d64783;
  --color4: #fd135a;
  --color5: #40202a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Slab', serif;
}



body::-webkit-scrollbar {
  background: #efefef;
  width: 15px;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--color3), var(--color1));
}